.cardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100vw ;
    min-height: 60vh;
    text-align: center;
    gap: 4vw;
    margin-top: 1vw;
    color: var(--letterColor);
    padding-bottom: 10vw;
}

@media all and (min-width:1250px){
    .cardContainer{
        padding-bottom: 3vw;
    }
}