
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.globalMain{
  margin-top: 12vh;
}



